.ds3 .sections-and-headings {
  &__section-list {
    margin: 0;
    list-style: none;
  }

  &__section-list-item {
    margin: 0;
    padding: 0 0 var(--mgrd) 0;
  }

  &__section-name {
    font: var(--ui-type--subhead-2) !important;
    color: var(--ui-type--subhead-2__color) !important;
    letter-spacing: var(--ui-type--subhead-2__letter-spacing) !important;
    /*Temporary over-rides until css refactor*/
    text-transform: none !important;
    border-bottom: 0px solid var(--ruling-color--major) !important;
    padding: var(--xsgrd) 0 !important;
    margin-bottom: 0 !important;
    position: relative;
  }

  &__ds3-icon {
    /*color: var(--text-color);*/
    vertical-align: bottom;
    right: 0;
    opacity: 0.8;
    margin-left: var(--xsgrd);
    &:hover {
      opacity: 1;
    }
  }
}
