.demo-tabs {
  min-height: 400px;
  margin-top: var(--xlgrd);
  margin-bottom: var(--xlgrd);

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: var(--panel-bg-color);
    padding: 0 var(--sgrd);

    @media (--large-desktop) {
      flex-direction: column;
    }
  }

  &__item {
    min-width: 100px;
    max-width: 720px;
    width: 25%;
    flex-grow: 1;
    margin: 16px 16px 16px 0px;
    background-color: white;
    padding: var(--xsgrd) var(--sgrd) var(--sgrd);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;

    @media (--large-desktop) {
      width: 100%;
      margin: 16px auto;
      font-size: 18px;
      padding: 40px;
    }

    &:last-of-type {
      margin-right: 0;
      @media (--large-desktop) {
        margin-right: auto;
      }
    }
  }

  &__item-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    & .paper-button {
      align-self: center;
    }
  }
  &__item-icon {
    color: var(--accent-color);
    margin-top: 16px;
  }

  &__item-title {
    text-align: center;
    font: var(--ui-type--headline);
    color: var(--ui-type--headline__color);
    letter-spacing: var(--ui-type--headline__letter-spacing);
    color: black;
    font-size: 1.3em;
    margin: 0.75em 0 1em 0;
  }

  &__item-list {
    width: 100%;
  }

  &__item-list-item {
    margin-bottom: 1em;
    font-size: 0.825em;
  }

  &__text {
    font: var(--sans-body-type);
    color: var(--sans-body-type__color);
    letter-spacing: var(--sans-body-type__letter-spacing);
    text-align: left;
    hyphens: auto;

    @media (--small-desktop) {
      font-size: 1.4rem;
    }
    @media (--small-tablet) {
      font-size: 1.3rem;
    }
  }
}
