/* data viz */
.ds3 .ds3-schema {
  margin-bottom: var(--lgrd);
}

.ds3 .ds3-schema figure {
  overflow: auto;
}

.ds3 .ds3-schema figure .tree {
  overflow-x: scroll;
}

.ds3 .ds3-schema figure figcaption{
  width: 100%;
}

.ds3 .ds3-schema figure figcaption pre {
  overflow-y: scroll;
  font-size: 12px;
  line-height: 13px;
}

.ds3 .ds3-schema svg {
  border: none;
}

.ds3 .ds3-schema .node {
  cursor: pointer;
}

.ds3 .ds3-schema .node text {
  font-size: 12px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  fill: #333333;
}

/* !! this is added on body so cannot be scoped within .ds3 */
.ds3-d3-tip {
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333333;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 250px;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.9);
}

.ds3 .ds3-schema .link {
  fill: none;
  stroke: #DADFE1;
  stroke-width: 1px;
}

.ds3 .ds3-schema .jsonld-markup {
  text-align: left;
  background-color: rgb(51,51,51);
  overflow: auto;
  color: rgb(144,157,181);
}

.ds3 .ds3-schema .jsonld-markup abbr {
  text-decoration: underline;
}

.ds3 .ds3-schema .jsonld-markup a {
  text-decoration: none;
}
.ds3 .ds3-schema .jsonld-markup a:hover {
  text-decoration: underline;
}

.ds3 .ds3-schema .jsonld-markup-key-context,
.ds3 .ds3-schema .jsonld-markup-key-id,
.ds3 .ds3-schema .jsonld-markup-key-value,
.ds3 .ds3-schema .jsonld-markup-key-type {
  color: rgb(202,136,81);
}

.ds3 .ds3-schema .jsonld-markup-list {
  color: rgb(189,107,122);
}

/*
.ds3 .ds3-schema .jsonld-markup-set {
color: rgb(79,83,91);
}
*/

.ds3 .ds3-schema .jsonld-markup-key a {
  color: rgb(189,107,122);
}

.ds3 .ds3-schema .jsonld-markup-string a {
  color: rgb(137,179,121);
}
